.About {
    padding: 60px 150px;
    color: var(--textColor-normal);
}

.About_content {
    display: flex;
}

.About_data {
    max-width: 600px;
    width: 100%;
}

.About_image {
    position: relative;
    border-radius: 8px;
    border: 3px solid var(--textColor-special);
    margin: 0px 16px auto auto;
    width: 100%;
    max-width: 350px;
}

.About_image img {
    position: relative;
    top: -15px;
    right: -15px;
    width: 100%;
}


.About h2 {
    font-size: 32px;
    color: var(--textColor-primary);
}

.About_title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.About_title h2 {
    font-size: clamp(26px, 5vw, 32px);
    white-space: nowrap;
}

.line {
    width: 280px;
    height: 2px;
    background-color: var(--textColor-special);
    position: relative;
}

.line::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--textColor-special);
    position: absolute;
    left: 0px;
    top: -4px;
    transform: rotate(45deg);
}

.About p {
    font-size: 20px;
    margin-top: 20px;
}

.About_data a {
    color: var(--textColor-special);
    text-decoration: none;
    text-decoration-skip-ink: auto;
}