.Presentation {
    padding: 40px 150px;
}

.Presentation_mono {
    font-family: 'Fira Code', monospace;
    color: var(--textColor-special);
    font-size: 14px;
}

.Presentation_title {
    font-size: clamp(40px, 8vw, 80px);
    font-weight: bold;
    color: var(--textColor-primary);
}

.Presentation_subtitle {
    font-size: clamp(30px, 8vw, 60px);
    font-weight: bold;
    color: var(--textColor-secondary);
    max-width: 900px;
}

.Presentation_long {
    font-size: 20px;
    color: var(--textColor-normal);
    max-width: 600px;
    margin-top: 20px;
}