.Projects {
    padding: 0 150px;
}

.Projects h2 {
    font-weight: 600;
    font-size: clamp(20px, 5vw, 32px);
    color: var(--textColor-primary);
    white-space: nowrap;
}

.Projects_header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Projects_container {
    padding: 60px 0;

}