.StackList {
    margin-top: 20px;
}

.StackList ul {
    display: grid;
    gap: 8px;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
}

.StackList ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.StackList ul li p {
    margin: 0;
    font-size: 13px;
}